*{
  margin: 0;
  padding: 0;
}
body{
  background-color: green;
  transition-property:background-color;
  transition-duration: 0.7s;
  background-image:url(https://www.transparenttextures.com/patterns/brick-wall-dark.png);
}
.typeapp_1_div{
  /* background-color: rgb(255, 255, 255,0.17); */
  background-color: rgba(20, 4, 4, 0.288);

  background-image: url("https://www.transparenttextures.com/patterns/buried.png");
  width:80vw;
  margin: 10% auto 10% auto;
  border-radius: 10px;
  padding: 3%;
  transition-property:background-color;
  transition-duration: 0.4s;
}
.form-control{
  transition-property:background-color;
  transition-duration: 0.7s;
}
#pr{
  margin-top: 5px;
  font-size:1.7rem;
  color: rgb(21, 233, 197);
  font-weight: bold;
}
.progress{
  background-color: rgba(255, 228, 196, 0.06);
  width: 0%;
  height: 1.6rem;
  /* padding: 1.2vh 0 1.2vh 0; */
  margin: 5px 0 2px 0;
  transition-property:width;
  transition-duration: 0.3s;
 
}
.progress hr{
    width: 100%;
    margin:auto 0.3vw auto 0.4vw;
    border-top: 3px dashed white;
  
}
.progress .hrleft{
  margin:auto 1px auto 0.4vw;
}
.progress .hrRight{
  margin:auto 0.3vw auto 1px;
}

.per{
  font-weight: bold;
  color: white;
  font-size: 1rem;
}
.bott{
  margin: 10px 5px 0px 3px;
}
.bt{
  margin-top: 20px ;
  width: 7vw;
}
.timer{
  float:right;
  margin-right: 3px;
  color:aliceblue;
}

.counter{
  display:inline;
  
}
.counter span{
  font-size: 1.2rem;
  color:aliceblue;
}
.innerArea{
  background-color: #a6c712;
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 8px;
  margin-top:1.5rem;
  transition-property:background-color;
  transition-duration: 0.5s;
}

.p{
  font-size:1.2rem;
}

.p span{
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 0.7vh ;
  padding-bottom: 0.4vh;
  background-color: transparent;
}
.tb{
  margin-right: 1.5vh;
}
.flexbtn{
  display: flex;
  justify-content: space-between;
}
.identifier{
  width: 10rem;
  display: grid;
  place-items: center;
}
.flex-name{
  display: flex;
}
@media only screen and (max-width: 1800px) {
  .bt{
    width: 12vw;
  }
}
@media only screen and (max-width: 1000px) {
  .bt{
    width: 20vw;
  }
}
@media only screen and (max-width: 600px) {
  .bt{
    width: 30vw;
  }
  .identifier{
    width: 25rem;
  }
}