.typeapp_1_div{
  background-color: red;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  width:80%;
  margin: 10% auto 10% auto;
  border-radius: 10px;
  padding: 3%;
}
.bt{
  margin-top: 20px ;
}
.timer{
  float:right;
  margin-right: 3px;
  color:aliceblue;
  font-size: 1.2rem;
}
.counter{
  display:inline;
}
.counter span{
  font-size:1.1rem;
  color:aliceblue;
}
.innerArea{
  background-color: blueviolet;
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 8px;
  margin-top:1.5rem;
}
body{
  background-color: #ddcf0c;
background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:1.2rem;
}